.element__like {
  margin: 0;
  padding: 0;
  background: transparent url(../../../images/like.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  width: 22px;
  height: 19px;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: none;
  border: none;
  outline: none;
}

.element__like:hover {
  opacity: 0.5;
}
